@import '../../../theme-chalk/src/variable.scss';
@import '../../../theme-chalk/src/theme-light.scss';
// 圆角
.fy-input {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  &.round {
    :deep(.el-input__wrapper) {
      border-radius: $fy-input-radius;
    }
  }
  :deep(.el-textarea__inner),
  :deep(.el-input__inner) {
    transition: width 0.25s ease-in-out;
  }
}
.fy-input-card {
  position: absolute;
  right: 0;
  width: 200px;
  z-index: 999999;
  max-height: 200px;
  overflow-y: auto;
  .el-card__body {
    padding: 10px 0 !important;
    text-align: left;
    font-size: 0.5rem;
  }
  .card-title,
  .card-item {
    padding: 2px 20px;
    padding-top: 0;
    color: #cacaca;
  }
  .card-item {
    &:hover {
      background-color: #f5f5f5;
    }
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.2s;
    justify-content: space-between;
  }
}
.fy-input-wrap {
  width: 100%;
  position: relative;
}
.arrow-select {
  color: #6698ff;
}
