:root {
  --el-color-primary: #417ef6 !important;
  --el-color-success: #5dcf35 !important;
  --el-color-info: #a3a5aa !important;
  --el-color-warning: #e6b63c !important;
  --el-color-danger: #ff6565 !important;
  // --el-component-size: 42px !important;
  // --el-component-size-large: 60px !important;
}
