:root {
  --el-color-primary: #417EF6!important;
  --el-color-success: #5DCF35!important;
  --el-color-info: #A3A5AA!important;
  --el-color-warning: #E6B63C!important;
  --el-color-danger: #FF6565!important;
}
