:root {
  --el-color-primary: #417ef6;
  --el-color-success: #5dcf35;
  --el-color-info: #a3a5aa;
  --el-color-warning: #e6b63c;
  --el-color-danger: #ff6565;
  --el-fill-color: #ececec !important;
  // --el-component-size: 42px !important;
  // --el-component-size-large: 60px !important;
}
