$whenWidth: 5.2857rem;
$itemHeight: 2.4rem;
$itemWidth: 9.2857rem;

.conditions-group-content  {

  .conditions-item {
    margin-bottom: 1.1429rem;
    width: 100%;
    display: flex;
    align-items: center;

    .logical-item {
      margin-right: .7143rem;
      .when {
        width: $whenWidth;
        height:$itemHeight;
        display: flex;
        align-items: center;
      }
      .fy-select {
        width: $itemWidth;
  
        &.logical-select {
          width: $whenWidth!important;
  
          :deep(.el-input) {
            width: $whenWidth;
          }
        }
      }
    }
  }

  :deep(.el-input) {
    height: $itemHeight;
  }

  .form-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    height: $itemHeight;
    width: calc(100% - $whenWidth);

    .form-content {
      height: 100%;
      width: calc(100% - 2rem);
      display: flex;
      align-items: center;
      column-gap: 1rem;
    }
   
    .fy-select {
      &.shorted-select {
        width: $itemWidth;
      }
    }

    .el-form {
      height: 100%!important;

      .el-input {
        width: 100%;
      }
    }

    .delete-icon {
      display: flex;
      align-items: center;
      height: 100%;
      cursor: pointer;
      padding: 0 .5rem;
      transition: background .2s ease-in-out,color .2s ease-in-out;
      &:hover {
        border-radius: 0.25rem;
        background: rgba(255,117,117,.1);
        .el-icon {
          --color: #ff7575!important;
        }
      }
    }
  }
}
